.main-container {
  display: flex;
  flex-wrap: nowrap;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}


.image-container {
  width: 30%;
  margin-right: 20px;

  flex-direction: row;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
}


.content {
  width: 60%;
  text-align: center;
}

.text h2 {
  text-align: center;
  text-decoration: underline;
}

.paragraph-container {
  text-align: center;
}

.live-text {
  margin-top: 2px;
  bottom: 230px;
  left: 38%;
  font-size: 100%;
  max-width: 450px;
  font-weight: bold;
}


.publicaciones-container {
  display: flex;
  flex-wrap: wrap;
}


.publicacion {
  width: calc(50% - 20px);
  margin: 10px;
}


.publicacion img,
.publicacion .estado,
.publicacion .ver-button {
  width: 100%;
}


.publicacion .estado {
  color: rgb(0, 255, 0);
}


.ver-button {
  cursor: pointer;
}

.ver-button:hover{
  background-color: royalblue;
}



.image-container {
  width: 125%;
  margin-right: 0px;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-top: 20px;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
}


.content-container {
  width: 70%;
  padding-left: 20px;
}

.content {
  text-align: center;
}


.rectangle {
  width: 45%;
  height: 150px;
  background-color: rgb(243, 226, 152);
  margin-top: 30px;
  margin-right: 200px;
  border-radius: 20px;
}

.rectangle p {
  text-align: center;
  font-weight: bold;
}



.rectangle2 {
  width: 45%;
  height: 150px;
  background-color: rgb(243, 226, 152);
  margin-top: -150px;
margin-left: 380px;
border-radius: 20px;
}

.rectangle2 p {
  text-align: center;
  font-weight: bold;

}
















