<div class="main-container">
<div class="image-container">
  <div class="image">
    <img src="../../../assets/img/LUXURY.png" alt="Luxury imagen">
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="text">
      <div class="title">
        <h2>LUXURY INMOBILIARIA</h2>
      </div>
      <div class="paragraph-container">
        <p>"En Luxury, nos dedicamos a hacer realidad tus sueños de encontrar el hogar perfecto. Con un equipo experto y comprometido, ofrecemos un servicio personalizado que te guiará en cada paso del proceso de compra, venta o alquiler de propiedades. Nuestra pasión por el bienestar de nuestros clientes y nuestro profundo conocimiento del mercado inmobiliario nos convierte en tu socio confiable para encontrar el espacio ideal que se adapte a tus necesidades y estilo de vida."</p>
        <div class="title">
          <h2>Propiedades Publicadas</h2>
        </div>

        <div class="publicaciones-container">
          <!-- Primera publicación -->
          <div class="publicacion">
            <img src="../../../assets/img/CASA.png" alt="Imagen 1">
            <p class="estado">Live</p>
              <p class="live-text">Dina Paucar 693, Los Cachimbos - Dueño: Marco Contreras - Publicado hace 3 semanas</p>
              <button class="ver-button live-ver-button">Ver</button>
          </div>

          <!-- Segunda publicación -->
          <div class="publicacion">
            <img src="../../../assets/img/CASA.png" alt="Imagen 1">
            <p class="estado">Disponible</p>
            <div class="live-text-container">
              <p class="live-text">Dina Paucar 693, Los Cachimbos - Dueño: Marco Contreras - Publicado hace 3 semanas</p>
              <button class="ver-button live-ver-button">Ver</button>
            </div>
          </div>

          <!-- Tercera publicación -->
          <div class="publicacion">
            <img src="../../../assets/img/CASA.png" alt="Imagen 1">
            <p class="estado">Live</p>
            <div class="live-text-container">
              <p class="live-text">Dina Paucar 693, Los Cachimbos - Dueño: Marco Contreras - Publicado hace 3 semanas</p>
              <button class="ver-button live-ver-button">Ver</button>
            </div>
          </div>

          <div class="publicacion">
            <img src="../../../assets/img/CASA.png" alt="Imagen 1">
            <p class="estado">Live</p>
            <div class="live-text-container">
              <p class="live-text">Dina Paucar 693, Los Cachimbos - Dueño: Marco Contreras - Publicado hace 3 semanas</p>
              <button class="ver-button live-ver-button">Ver</button>
            </div>
          </div>

       <!-- Rectángulo 1 -->
<div class="rectangle">
  <p>UBICACIÓN</p>
  <p>Calle Principal #1234, Barrio CentralCiudad Metrópolis, Estado de EjemploCódigo Postal: 12345</p>
</div>

<!-- Rectángulo 2 -->
<div class="rectangle2">
  <p>CONTACTO</p>
  <p>+51 923923922</p>
  <p>infoluxury.com</p>
</div>


        </div>
      </div>
    </div>
  </div>
</div>
</div>







