<div class="container">
  <h2 class="title"> Gestionar Propiedades</h2>

  <div class="property-status">
    <p>Disponible (4)</p>
    <div class="divider"></div>
    <p>Comprado (2)</p>
    <div class="divider"></div>
  </div>
  <button class="add-property-button">Agregar PropiedadesS</button>

</div>

<div class="new-container">
  <div class="row1">
    <div class="image-container">
      <img class="image" src="../../../assets/img/CASA2.png" alt="Imagen 2">
      <div class="status">Comprado</div>
      <div class="precio">S/.50.000</div>
      <div class="extra-info">
        Dina Paucar 693, Los Cachimbos<br>
        -Publicado hace 3 semanas
      <div class="buttons2-container">
        <button class="edit-button">Editar</button>
        <button class="view-button">Ver</button>
        <button class="agents-button">Agentes</button>
      </div>
      </div>
    </div>

    <div class="image-container">
      <img class="image" src="../../../assets/img/CASA2.png" alt="Imagen 2">
      <div class="status">Comprado</div>
      <div class="precio">S/.50.000</div>
      <div class="extra-info">
        Dina Paucar 693, Los Cachimbos<br>
        -Publicado hace 3 semanas
      <div class="buttons2-container">
        <button class="edit-button">Editar</button>
        <button class="view-button">Ver</button>
        <button class="agents-button">Agentes</button>
      </div>
      </div>
    </div>

    <div class="image-container">
      <img class="image" src="../../../assets/img/CASA2.png" alt="Imagen 2">
      <div class="status">Comprado</div>
      <div class="precio">S/.50.000</div>
      <div class="extra-info">
        Dina Paucar 693, Los Cachimbos<br>
        -Publicado hace 3 semanas
      <div class="buttons2-container">
        <button class="edit-button">Editar</button>
        <button class="view-button">Ver</button>
        <button class="agents-button">Agentes</button>
      </div>
      </div>
    </div>
  </div>



  <div class="row1">
    <div class="image-container">
      <img class="image" src="../../../assets/img/CASA2.png" alt="Imagen 2">
      <div class="status">Comprado</div>
      <div class="precio">S/.50.000</div>
      <div class="extra-info">
        Dina Paucar 693, Los Cachimbos<br>
        -Publicado hace 3 semanas
      <div class="buttons2-container">
        <button class="edit-button">Editar</button>
        <button class="view-button">Ver</button>
        <button class="agents-button">Agentes</button>
      </div>
      </div>
    </div>

    <div class="image-container">
      <img class="image" src="../../../assets/img/CASA2.png" alt="Imagen 2">
      <div class="status">Comprado</div>
      <div class="precio">S/.50.000</div>
      <div class="extra-info">
        Dina Paucar 693, Los Cachimbos<br>
        -Publicado hace 3 semanas
      <div class="buttons2-container">
        <button class="edit-button">Editar</button>
        <button class="view-button">Ver</button>
        <button class="agents-button">Agentes</button>
      </div>
      </div>
    </div>

    <div class="image-container">
      <img class="image" src="../../../assets/img/CASA2.png" alt="Imagen 2">
      <div class="status">Comprado</div>
      <div class="precio">S/.50.000</div>
      <div class="extra-info">
        Dina Paucar 693, Los Cachimbos<br>
        -Publicado hace 3 semanas
      <div class="buttons2-container">
        <button class="edit-button">Editar</button>
        <button class="view-button">Ver</button>
        <button class="agents-button">Agentes</button>
      </div>
      </div>
    </div>
  </div>



  <div class="row1">
    <div class="image-container">
      <img class="image" src="../../../assets/img/CASA2.png" alt="Imagen 2">
      <div class="status">Comprado</div>
      <div class="precio">S/.50.000</div>
      <div class="extra-info">
        Dina Paucar 693, Los Cachimbos<br>
        -Publicado hace 3 semanas
      <div class="buttons2-container">
        <button class="edit-button">Editar</button>
        <button class="view-button">Ver</button>
        <button class="agents-button">Agentes</button>
      </div>
      </div>
    </div>

    <div class="image-container">
      <img class="image" src="../../../assets/img/CASA2.png" alt="Imagen 2">
      <div class="status">Comprado</div>
      <div class="precio">S/.50.000</div>
      <div class="extra-info">
        Dina Paucar 693, Los Cachimbos<br>
        -Publicado hace 3 semanas
      <div class="buttons2-container">
        <button class="edit-button">Editar</button>
        <button class="view-button">Ver</button>
        <button class="agents-button">Agentes</button>
      </div>
      </div>
    </div>

    <div class="image-container">
      <img class="image" src="../../../assets/img/CASA2.png" alt="Imagen 2">
      <div class="status">Comprado</div>
      <div class="precio">S/.50.000</div>
      <div class="extra-info">
        Dina Paucar 693, Los Cachimbos<br>
        -Publicado hace 3 semanas
      <div class="buttons2-container">
        <button class="edit-button">Editar</button>
        <button class="view-button">Ver</button>
        <button class="agents-button">Agentes</button>
      </div>
      </div>
    </div>
  </div>
</div>
