<div class="card">
  <img src="assets/img/casa1.jpg" alt="Imagen de la propiedad" class="property-image">
  <div class="precio">
    <p>Total: $XXX,XXX</p>
    <p>Inicial: $XX,XXX</p>
  </div>
  <div class="detalles">
    <div class="detalleItem">
      <img src="assets/img/habitacion.png" alt="Icono de habitaciones">
      <span> 4 </span>
    </div>
    <div class="detalleItem">
      <img src="assets/img/bano.png" alt="Icono de baños">
      <span>2 </span>
    </div>
    <div class="detalleItem">
      <img src="assets/img/area.png" alt="Icono de área">
      <span>150 m<sup>2</sup></span>
    </div>
  </div>
  <div class="direccion">
    <p>Dirección de la propiedad, Ciudad, País</p>
  </div>
  <a href="#" class="btn">Ver más</a>
</div>
