<div class="main">
    <div class="container">
        <div class="col-md-4">
            <img src="assets/img/agentelogo.png" alt="">
        </div>
        <div class="col-md-8">
            <h1>Gestionar Agentes Inmobiliarios</h1>
            <div class="textodebajodeltitulo">
                Permite que otros agentes colaboren con usted en las propiedades.
            </div>
            <div class="textodebajodeltitulo">                
                Los agentes tienen permiso para
                añadir propiedades y tener citas con los clientes. Administre sus agentes, Invita sólo a
                miembros en los que confíes.
            </div>
        </div>
    </div>

    <a href="../AgregarAgentes" class="boton-izquierda">Agregar Agentes 👥</a>

</div>

