<div class="main">
    <div class="container">
        <div class="col-md-4">
            <img src="assets/img/agentelogo.png" alt="">
        </div>
        <div class="col-md-8">
            <h1>Gestionar Agentes Inmobiliarios</h1>
            <div class="textodebajodeltitulo">
                Permite que otros agentes colaboren con usted en las propiedades.
            </div>
            <div class="textodebajodeltitulo">
                Los agentes tienen permiso para
                añadir propiedades y tener citas con los clientes. Administre sus agentes, Invita sólo a
                miembros en los que confíes.
            </div>
        </div>
    </div>

    <a href="../AgregarAgentes" class="boton-izquierda">Agregar Agentes 👥</a>

    <style>

    </style>

</div>

<br>
<br>
<br>


<div class="contenedor-imagenes">
    <img src="assets/img/agentes_caras/pedro.png" alt="Imagen 1">
    <img src="assets/img/agentes_caras/adrian.png" alt="Imagen 2">
    <img src="assets/img/agentes_caras/ana.png" alt="Imagen 3">
</div>

<div class="subemelaradioqestaesmicancion-izquierda">
    <p align="left">Pedro Jose Cuellar</p>
    <p align="left"><b>LUXURY INMOBILIARIA</b></p>
</div>
<a href="../EditarAgentes">
    <button class="boton-editar">Editar</button>
</a>


<div class="subemelaradioqestaesmicancion-centro">
    <p align="center">Adrian Arce</p>
    <p align="center"><b>Century 21 INMOBILIARIA</b></p>
</div>
<a href="../EditarAgentes">
    <button class="boton-central">Editar</button>
</a>


<div class="subemelaradioqestaesmicancion-derecho">
    <p align="right">Ana Bernabeu</p>
    <p align="right"><b>Ellie Williams INMOBILIARIA</b></p>
    <a href="../EditarAgentes">
        <button class="boton-editar">Editar</button>
    </a>


</div>


<br>
<br>

<div class="contenedor-imagenes">
    <img src="assets/img/agentes_caras/diego.png" alt="Imagen 4">
    <img src="assets/img/agentes_caras/domingo.png" alt="Imagen 5">
    <img src="assets/img/agentes_caras/camilo.png" alt="Imagen 6">
</div>

<div class="subemelaradioqestaesmicancion-izquierda">
    <p align="left">Diego Villanueva</p>
    <p align="left"><b>Ellie Williams INMOBILIARIA</b></p>
</div>

<a href="../EditarAgentes">
    <button class="boton-editar">Editar</button>
</a>


<div class="subemelaradioqestaesmicancion-centro">
    <p align="center">Domingo Matas</p>
    <p align="center"><b>Century 21 INMOBILIARIA</b></p>
</div>
<a href="../EditarAgentes">
    <button class="boton-central">Editar</button>
</a>


<div class="subemelaradioqestaesmicancion-derecho">
    <p align="right">Camilo Cañete</p>
    <p align="right"><b>LUXURY INMOBILIARIA</b></p>
    <a href="../EditarAgentes">
        <button class="boton-editar">Editar</button>
    </a>

</div>

<br>
<br>
<br>
<br>
<br>