<div class="main">
  <img src="assets/img/main.png" alt="">
  <div class="mainOpc">
    <h1>Una gran cantidad de propiedades te esperan!!!</h1>
    <div class="boton" routerLink="/propiedades">
      Busca propiedades aqui!
    </div>
  </div>
</div>
<div class="recomendaciones">
  <div class="recoInfo">
    <h2>Recomendaciones Destacadas</h2>
    <p>Descubre una selección destacada de propiedades que cautivan por su encanto, comodidad y ubicación. Desde acogedores apartamentos urbanos hasta lujosas residencias frente al mar, estas recomendaciones te invitan a explorar un mundo de posibilidades para encontrar el hogar perfecto.</p>
    <p>Ver mas <a href="#" routerLink="/propiedades">Click Aqui</a></p>
  </div>
  <div class="card">
    <img src="../../../assets/img/casa1.jpg" alt="Casa en Venta">
    <div class="details">
      <p>$XXX,XXX</p>
      <p>Nombre de la Calle, Ciudad, País</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/img/casa1.jpg" alt="Casa en Venta">
    <div class="details">
      <p>$XXX,XXX</p>
      <p>Nombre de la Calle, Ciudad, País</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/img/casa1.jpg" alt="Casa en Venta">
    <div class="details">
      <p>$XXX,XXX</p>
      <p>Nombre de la Calle, Ciudad, País</p>
    </div>
  </div>
</div>

<div class="informacion">
  <h1>Mira como “Inversiones Jóvenes Inmuebles” puede ayudar</h1>
  <div class="ayudas">
    <div class="opc">
      <img src="../../../assets/img/asesoramiento.png">
      <h3>Asesoramiento Financiero</h3>
    </div>
    <div class="opc">
      <img src="../../../assets/img/buscar-dolar.png">
      <h3>Búsqueda Inteligente de Propiedades</h3>
    </div>
    <div class="opc">
      <img src="../../../assets/img/educacion.png">
      <h3>Educación Financiera</h3>
    </div>
    <div class="opc">
      <img src="../../../assets/img/HerraFinan.png">
      <h3>Herramientas de Evaluación de Riesgos</h3>
    </div>
    <div class="opc">
      <img src="../../../assets/img/comunidad.png">
      <h3>Comunidad de Inversores</h3>
    </div>
  </div>
</div>
