<div class="container">
  <div class="imgLogin">
    <img src="../../../assets/img/inmobiliaria.jpeg">
  </div>
  <div class="FormLogin">
    <form >
      <h1>Iniciar Sesión Inmobiliaria</h1>
      <div class="campos">
        <div class="formOpc">
          <label>Correo: </label>
          <input formControlName="email" type="email" name="email" id="correo">
        </div>
        <div class="formOpc">
          <label>Contraseña: </label>
          <input formControlName="password" type="password" name="password" id="password">
        </div>
      </div>
      <p>¿Olvidaste la contraseña? <a href="#">Click Aqui!</a></p>

      <div class="btns">
        <button class="btnCancelar">Cancelar</button>
        <button type="submit" class="btnAceptar">Iniciar Sesion</button>
      </div>
    </form>
  </div>
</div>

